# Gmail SMTP Configuration
# Your Gmail address
GMAIL_USER=rickynavidon10@gmail.com

# Your Gmail App Password (not your regular password)
# Generate this in Google Account settings > Security > App passwords
GMAIL_APP_PASSWORD=hwib fusu jcra xkze

# Admin email address (where notifications will be sent)
# If not provided, will use GMAIL_USER
ADMIN_EMAIL=rickynavidon10@gmail.com

# Next.js Configuration
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-key-here
